<h2>Enquiry Details</h2>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Enquiry_Id</th>
    <th>Customer_Name</th>
    <th>Customer_Email</th>
    <th>Customer_Mobileno</th>
    <th>Customer_Aadharno</th>
    <th>Customer_Panno</th>
    </tr>
    <tr *ngFor="let x of e">
      <td>{{x.enquiryId}}</td>
      <td>{{x.customerName}}</td>
      <td>{{x.customerEmail}}</td>
      <td>{{x.customerMobileno}}</td>
      <td>{{x.customerAadharno}}</td>
      <td>{{x.customerPanno}}</td>
  </tr>
</table>
</div>
