
<mat-horizontal-stepper [linear]="isLinear" #stepper>


    <mat-step [stepControl]="firstFormGroup">
      
        <ng-template matStepLabel>Fill out your Profile</ng-template>
        
            <div class="body">
            <div class="container">

                <form [formGroup]="firstFormGroup">
                    <h4>PERSONAL DETAILS</h4>
                    <div class="form first">
                        <div class="details personal">
                       
                            <div class="fields">
                                <div class="input-field">
                                    <label> Name</label>
                                    <input type="text" placeholder="Enter Your Name" required>
                                </div>
            
                               
            
                                <div class="input-field">
                                    <label>Email</label>
                                    <input type="email" placeholder="Enter Your Email" required>
                                </div>

                                <div class="input-field">
                                    <label>Aadhar Number</label>
                                    <input type="number" placeholder="Enter Your Aadhar Nnumber" required>
                                </div>

                                
                                <div class="input-field">
                                    <label>Pan Number</label>
                                    <input type="number" placeholder="Enter Your Pan Nnumber" required>
                                </div>

                                <div class="input-field">
                                    <label>Mobile Number</label>
                                    <input type="number" placeholder="Enter Your Mobile NO" required>
                                </div>
            

                               

                                <div class="input-field">
                                    <label>User Name</label>
                                    <input type="text" placeholder="Enter Your User Name" required>
                                </div>

                                <div class="input-field">
                                    <label>Password</label>
                                    <input type="text" placeholder="Enter Your Password" required>
                                </div>

                                <div class="input-field">
                                    <label>Application Number</label>
                                    <input type="number" placeholder="Enter Your Application Number" required>
                                </div>

                                
            
                                
                            </div>
            
                            
                        </div>
            
                        
                        <div>
                            <button mat-raised-button matStepperNext color="warn">Next</button>
                          </div>
                    </div>
                    
                    </form>
            </div>
        </div>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your Address">
      
        <div class="body">
            <div class="container">
                <form [formGroup]="firstFormGroup">
                    <h4>Local Address</h4>
                    <div class="fields">
                           
                            <div class="input-field">
                                <label>Area Name</label>
                                <input type="text" placeholder="Enter Area Name" required>
                            </div>

                            <div class="input-field">
                                <label>City Name</label>
                                <input type="text" placeholder="Enter City" required>
                            </div>

                            <div class="input-field">
                                <label>District</label>
                                <input type="text" placeholder="Enter District" required>
                            </div>
        

                            
                                <div class="input-field">
                                    <label>Land Mark</label>
                                    <input type="text" placeholder="Enter Land Mark" required>
                                </div>

                          
                                <div class="input-field">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State" required>
                                </div>
            
                                
                               
            
                               
            
            
                                <div class="input-field">
                                    <label>Pin code</label>
                                    <input type="text" placeholder="Enter Pin Code" required>
                                </div>
                            </div>
            
                      
            
                        <div class="details ID">
                            <h4>Permanent Address</h4>
                            <div class="fields">

                                <div class="input-field">
                                    <label>Area Name</label>
                                    <input type="text" placeholder="Enter Area Name" required>
                                </div>

                                <div class="input-field">
                                    <label>City Name</label>
                                    <input type="text" placeholder="Enter City" required>
                                </div>

                                <div class="input-field">
                                    <label>District</label>
                                    <input type="text" placeholder="Enter District" required>
                                </div>
            
                                
                                <div class="input-field">
                                    <label>Land Mark</label>
                                    <input type="text" placeholder="Enter Land" required>
                                </div>
            
                                <div class="input-field">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State" required>
                                </div>
            
                                
                               
            
                       
            
                                <div class="input-field">
                                    <label>Pin code</label>
                                    <input type="text" placeholder="Enter Pin Code" required>
                                </div>
                            </div>
            
                            
                        </div>
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-raised-button matStepperNext color="warn">Next</button>
                          </div>
                    </div>
               
                    </form>
            </div>
        </div>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your Bank Details">
      
        <div class="body">
            <div class="container">
                <form [formGroup]="firstFormGroup" class="bank">
                    <h4>Bank Details</h4>
                    <div class="form first">
                        <div class="details personal">
                          
                            <div class="fields">
                                <div class="input-field">
                                    <label>Account No</label>
                                    <input type="number" placeholder="Enter Your Account no" required>
                                </div>
            
                                <div class="input-field">
                                    <label>Bank Name</label>
                                    <input type="text" placeholder="Enter Bank Name" required>
                                </div>
            
                                <div class="input-field">
                                    <label>Brach Name</label>
                                    <input type="text" placeholder="Enter Branch" required>
                                </div>
            
                                <div class="input-field">
                                    <label>IFSC Number</label>
                                    <input type="number" placeholder="Enter IFSC no" required>
                                </div>
            
                               
            
                                <div class="input-field">
                                    <label>CIF Number</label>
                                    <input type="text" placeholder="Enter CIF No" required>
                                </div>
                            </div>
            
                            
                        </div>
            
                        
            
                      
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-raised-button matStepperNext color="warn" >Next</button>
                          </div>
                    </div>
                </div>
                    </form>
            </div>
        </div>



      


    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your Document">
      
        <div class="body">
            <div class="container">
                <form [formGroup]="firstFormGroup" class="Doccument">
                    <h4>Document Details</h4>
                    <div class="form first">
                        <div class="details personal">
                         
                            <div class="fields"> 
                               
            
                                <div class="input-field">
                                    <label>Adhar Card</label>
                                    <input type="file"  required>
                                </div>
            
                                <div class="input-field">
                                    <label>Pan Card</label>
                                    <input type="file"  required>
                                </div>

                                <div class="input-field">
                                    <label>Profile Photo</label>
                                    <input type="file"  required>
                                </div>
            
                                <div class="input-field">
                                    <label>Signature</label>
                                    <input type="file"  required>
                                </div>
            
                                <div class="input-field">
                                    <label>Salary Slip</label>
                                    <input type="file"  required>
                                </div>
            
                           
                                <div class="input-field">
                                    <label>Driving License</label>
                                    <input type="file"  required>
                                </div>

                                <div class="input-field">
                                    <label>Bank Statements</label>
                                    <input type="file"  required>
                                </div>

                                <div class="input-field">
                                    <label>Car Quotation</label>

                                    <input type="file"  required>
                                </div>

                                <div class="input-field">
                                    <label>Form 16</label>
                                    <input type="file"  required>
                                </div>

                                <div class="input-field">
                                    <label>ITR</label>
                                    <input type="file"  required>
                                </div>

                            </div>
            
                            
                        </div>
            
                        
            
                      
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-raised-button matStepperNext color="warn">Next</button>
                          </div>
                    </div>
                </div>
                    </form>
            </div>
        </div>



      


    </mat-step>
    




    <mat-step>

       <div class="done">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button matStepperPrevious color="warn" style="margin-right: 10px;">Previous</button>

        <button mat-raised-button matStepperNext color="warn" style="margin-right: 10px;" (click)="success()" >Submit</button>
        <button mat-raised-button matStepperNext color="warn" (click)="stepper.reset()">Reset</button>
      </div>
    </div>
    </mat-step>
</mat-horizontal-stepper>
  





   
