
<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      
        <ng-template matStepLabel>Fill out your name</ng-template>

            <div class="body">
            <div class="container">
                <form [formGroup]="profileFormGroup"class="fb">
        
                    <div class="form first">
                        <div class="details personal">
                            <span class="title">personal Detail</span>
                            <div class="fields">
                                <div class="input-field">
                                    <label>Full Name</label>
                                    <input type="text" placeholder="Enter Your Name" formControlName="employeeName">
                                </div>
            
                                <div class="input-field">
                                    <label>Date Of Birth</label>
                                    <input type="date" placeholder="Enter Your Birth Date" formControlName="employeeDOB">
                                </div>
            
                                <div class="input-field">
                                    <label>Email</label>
                                    <input type="email" placeholder="Enter Your Email" formControlName="employeeEmail">
                                </div>
            
                                <div class="input-field">
                                    <label>Mobile Number</label>
                                    <input type="number" placeholder="Enter Your Mobile NO" formControlName="employeeMobileNo">
                                </div>
            
                                <div class="input-field">
                                    <label>Gender</label>
                                    <select name="status" formControlName="employeeGender">
                                        <option >Male</option>
                                        <option >Female</option>
                                        <option >Other</option>
                    
                                      </select>
                                </div>
            
                                <div class="input-field">
                                    <label>Role</label>
                                    <select name="status" formControlName="employeeRole">
                                        <option value="volvo">relationship executive</option>
                                        <option value="saab">operation executive</option>
                                        <option value="saab">Credit manager</option>
                                        <option value="saab">Account head</option>
                    
                                      </select>
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="details personal">
                            <span class="title">Doccument Detail</span>
                            <div class="fields">
                                <div class="input-field">
                                    <label>Profile Photo</label>
                                    <input type="file"  (change)="profiledoc($event)">
                                </div>
            
                                <div class="input-field">
                                    <label>Adhar Card</label>
                                    <input type="file"  (change)="aadhardoc($event)">
                                </div>
            
                                <div class="input-field">
                                    <label>Pan Card</label>
                                    <input type="file"  (change)="pandoc($event)">
                                </div>
            
                                <div class="input-field">
                                    <label>Signature</label>
                                    <input type="file"  (change)="signaturedoc($event)">
                                </div>

                            </div>
            
                            
                        </div>



                        <div>
                            <button mat-button matStepperNext>Next</button>
                          </div>
                    </div>
                    
                    </form>
            </div>
        </div>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
      
        <div class="body">
            <div class="container">
                <div class="fb">
                
        
                    <div class="form first">
                        <form [formGroup]="permanentaddform">
                        <div class="details personal">
                            <span class="title">Permanat Address</span>
                            <div class="fields">
                                <div class="input-field">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State" formControlName="employeeState">
                                </div>
            
                                <div class="input-field">
                                    <label>District</label>
                                    <input type="text" placeholder="Enter District" formControlName="employeeDistrict">
                                </div>
            
                                <div class="input-field">
                                    <label>City Name</label>
                                    <input type="text" placeholder="Enter City" formControlName="employeeCity">
                                </div>
            
                                <div class="input-field">
                                    <label>Area Name</label>
                                    <input type="text" placeholder="Enter Area Name" formControlName="employeeArea">
                                </div>
            
                                <div class="input-field">
                                    <label>Land Mark</label>
                                    <input type="text" placeholder="Enter Land Mark" formControlName="employeeLandmark">
                                </div>
            
                                <div class="input-field">
                                    <label>Pin code</label>
                                    <input type="text" placeholder="Enter Pin Code" formControlName="employeePinCode">
                                </div>
                            </div>
                            <label>same as</label><input type="checkbox"  (change)="copyLocalToPermanent()">
                            
                        </div>
                    </form>
                    
                        <div class="details ID">
                            <form [formGroup]="localaddform">
                            <span class="title">Local Address</span>
                            <div class="fields">
                                <div class="input-field">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State" formControlName="employeeState">
                                </div>
            
                                <div class="input-field">
                                    <label>District</label>
                                    <input type="text" placeholder="Enter District" formControlName="employeeDistrict">
                                </div>
            
                                <div class="input-field">
                                    <label>City Name</label>
                                    <input type="text" placeholder="Enter City" formControlName="employeeCity">
                                </div>
            
                                <div class="input-field">
                                    <label>Area Name</label>
                                    <input type="text" placeholder="Enter Area Name" formControlName="employeeArea">
                                </div>
            
                                <div class="input-field">
                                    <label>Land Mark</label>
                                    <input type="text" placeholder="Enter Land Mark" formControlName="employeeLandmark">
                                </div>
            
                                <div class="input-field">
                                    <label>Pin code</label>
                                    <input type="text" placeholder="Enter Pin Code" formControlName="employeePinCode">
                                </div>
                                
                            </div>
                            <div class="buttons">
                                <div class="backBtn">
                                    <button mat-button matStepperPrevious >Back</button>
                                 </div> 
                                 <div class="nextBtn">  
                                    <button mat-button matStepperNext >Next</button>
                                  </div>
                            </div>
                        </form> 
                        </div>
                      
                </div>
                    
                </div>
            </div>
        </div>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Fill out your Bank Detail">
      
        <div class="body">
            <div class="container">
                
                <form [formGroup]="bankFormGroup" class="bank fb">
        
                    <div class="form first">
                        <div class="details personal">
                            <span class="title">Bank Detail</span>
                            <div class="fields">
                                <div class="input-field">
                                    <label>Account No</label>
                                    <input type="number" placeholder="Enter Your Account no" formControlName="employeeAccNo">
                                </div>
            
                                <div class="input-field">
                                    <label>Bank Name</label>
                                    <input type="text" placeholder="Enter Bank Name" formArrayName="employeeBankName">
                                </div>
            
                                <div class="input-field">
                                    <label>Brach Name</label>
                                    <input type="text" placeholder="Enter Branch" formControlName="employeeBranchName">
                                </div>
            
                                <div class="input-field">
                                    <label>IFSC Number</label>
                                    <input type="number" placeholder="Enter IFSC no" formControlName="employeeIFSCNo">
                                </div>
            
                                <div class="input-field">
                                    <label>Branch Code</label>
                                    <input type="number" placeholder="Enter Branch Code" formControlName="employeeBankCode">
                                </div>
            
                                <div class="input-field">
                                    <label>CIF Number</label>
                                    <input type="text" placeholder="Enter CIF No" formControlName="employeeCIFNo">
                                </div>
                            </div>
            
                            
                        </div>
            
                        
            
                      
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-button matStepperPrevious >Back</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-button matStepperNext >Next</button>
                          </div>
                    </div>
                </div>
                    </form>
                
            </div>
        </div>



      


    </mat-step>

   




    <mat-step>
       <div class="done">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="success()">save</button>
      </div>
    </div>
    </mat-step>
  </mat-stepper>
  


