<div class="container">
  <div class="row">
        <div class="col-lx-12">
            <div class="card">
                <div class="card-body">
                  <div class="row justify-content-center mt-4">
                      <div class="col-xl-5 col-lg-8">
                          <div class="text-center">
                              <h3>Frequently Asked Questions?</h3>
                              
          
                          </div>
                      </div>
                      <!-- end col -->
                  </div>
                  <!-- end row -->
                  <div class="row justify-content-center mt-5">
                      <div class="col-9">
                          
                      </div>
                      <div class="col-lg-9">
                          <div class="tab-content pt-3" id="pills-tabContent">
                              <div class="tab-pane fade active show" id="pills-genarel" role="tabpanel" aria-labelledby="pills-genarel-tab">
                                  <div class="row g-4 mt-2">
                                      <div class="col-lg-6">
                                          <h5>What makes of cars does finance?</h5>
                                      <p class="text-muted">We finance all makes of new cars, and second hand cars . Thus, you are free to choose any vehicle you want to own.</p>
                                      </div>
                                      <div class="col-lg-6">
                                          <h5> Can my spouse's income be included for calculating the loan amount?</h5>
                                          <p class="text-muted">Yes, your spouse's income can be included provided he/she joins as co-borrower.</p>
                                      </div>
                                      <div class="col-lg-6">
                                          <h5>What is the repayment schedule like?</h5>
                                      <p class="text-muted">The minimum amount that you are expected to pay every month is the EMI.You can repay the loan in upto 84 EMIs.
                                      </p>
                                      </div>
                                      <div class="col-lg-6">
                                        <h5>What is EMI? How is it calculated?</h5>
                                    <p class="text-muted">EMI stands for Equated Monthly Installments. This installment comprises both principal and interest components. Your EMI would be calculated depending on the tenor you choose, to repay your loan. The EMI would be higher if you choose to repay within a shorter period as against a longer-term loan.


                                    </p>
                                    </div>
                                    <div class="col-lg-6">
                                      <h5>What Security do I have to furnish for availing the Car Loan?</h5>
                                  <p class="text-muted"> A charge on the vehicle financed is noted with local Transport Authorities . Your spouse's guarantee, if his/her income has been considered for fixing the loan amount, would also be required. Some other security may also be required in certain cases.
                                  </p>
                                  </div>
                                  <div class="col-lg-6">
                                    <h5>How does Car Loan compare with those offered by other institutions?</h5>
                                <p class="text-muted">There is total transparency with regards to the rate of interest and the fees charged by us.

                                  We offer loans for the longest tenors (84 months).
                                  
                                  We also provide finance for both new vehicles as well as old cars .
                                  
                                  We levy interest on daily reducing balance, unlike the flat rate of interest or interest based on annual reducing balance method used by several other financiers.
                                  
                                  We provide finance for one-time road tax, registration fee and insurance premium also. 
                                  
                                  We do not charge any advance EMIs .
                                </p>
                
                                </div>
                                  </div>
                              </div>
  
                </div>
            </div>
        </div>
    </div>
  </div>