<body>
    <div class="container">
        <header>
            <span class="logo">
                <img src="assets\Images\Mastercar.png" alt="">
                <h5>Master Card</h5>
            </span>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/013/139/346/small/golden-sim-chip-card-microchip-for-payment-or-credit-card-vector.jpg" alt="" class="chip">
        </header>
        <div class="card-details">
            <div class="name-number">
                <h6>Card Number</h6>
                <input type="text" class="number"placeholder="  ">
                 <input type="text" class="h">
                <h5 class="name">Vaibhav Sanjay Karale </h5>
            </div>
            <div class="valid-date">
                <h6>valid Thru</h6>
                <h5>05/28</h5>
            </div>
        </div>
        <button>check</button>
    </div>
    
</body>

