
<div fxLayout="column" fxLayoutAlign="space-between none" >
    <marquee class="scroll" direction="left" behavior="scroll" scrollamount="8">
      <p class="Carter_One tx">NOTICE TO CUSTOMERS - As per RBI guidelines all Re-KYC/Periodic KYC due customers are requested to contact your home/nearest branch along with latest KYC documents and update your due KYC, if you have already updated your latest KYC with bank, please ignore this communication
        </p>
        
        </marquee>

    <!-- <a mat-raised-button class="enquiry" routerLink="/Enquiry">Enquiry</a> -->
    
    <img mat-card-image  class images src="assets\Images\Car_Loan_Image1.webp" alt="Car Image" style="width: 100%; height: auto;">

    <!-- <img mat-card-image  class images src="assets\Images\Car_Loan_Image2.webp" alt="Car Image" style="width: 50%; height: auto;"> -->
    <!-- <mat-dialog-actions> -->
    <button mat-raised-button  class="enquiry" (click)="opencustomer()">Enquiry Here</button>
  <!-- </mat-dialog-actions> -->

      <!-- <button mat-raised-button color="primary" (click)="opencustomer()">Enquiry customer</button> -->
  
  
</div>


<hr>
<div class="container-fluid group2">
      <br>
      <div class="container">
        <div class="row" >
            <div class="col-6">
                <img mat-card-image  class images src="assets\Images\image5.png" alt="Car Image" style="width: 100%; height: 350px;">
            </div>
            <div class="col-6">
                <br>
                <u><h2 class="oswald text">Car loan </h2></u>
        <p class="Dancing_Script text2">Car loan is a financial assistance taken to purchase a car with minimal initial payment from your own pocket. The borrowed money from the lender can be repaid in equal monthly instalments over a period of time with an agreed rate of interest. Normally, car loans are secured with the vehicle itself that is being bought.</p>
        
            </div>
    
        </div>

      </div>
   
    <br>
</div>
   
<hr>
    <div class="container">
        .<strong><h1 class="Oswald line">* Best features of our loan offerings *</h1></strong> 
   
      
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <!-- Cards for featured courses -->
        <mat-card class="course-card">
         
          <img mat-card-image src="assets\Images\image1.png" alt="icon1">
          <h4 class="Oswald text">Easy To Apply</h4>
          <mat-card-content>    
            <p class="Carter_One text">The application procedure is easy and straightforward. We're simply a phone call away if you're experiencing problems applying for a loan.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="course-card">
         
            <img mat-card-image src="assets\Images\image2.png" alt="icon1">
            <h4 class="Oswald text">Fast Approval</h4>
            <mat-card-content>    
              <p class="Carter_One text">Your application will be processed in a short duration if you provide all the necessary documents and meet the eligibility criteria.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="course-card">
         
            <img mat-card-image src="assets\Images\image3.png" alt="icon1">
            <h4 class="Oswald text">Speedy Disbursal</h4>
            <mat-card-content>    
              <p class="Carter_One text">It takes a about a day to disburse the loan amount once the loan application has been approved and the formalities have been completed.</p>
            </mat-card-content>
          </mat-card>

          <mat-card class="course-card">
         
            <img mat-card-image src="assets\Images\image4.PNG" alt="icon1">
            <h4 class="Oswald text">Instant Top-Up</h4>
            <mat-card-content>    
              <p class="Carter_One text">You can obtain a top up loan at lower rate of interest and lesser processing fee, provided you have paid back the earlier loan amount in time.</p>
            </mat-card-content>
          </mat-card>

      </div>    
      </div>

