
<div *ngIf="condition; else elseBlock">



<div *ngIf="condition2; else elseBlock">
  <!-- Content to display when the condition is true -->
 
</div>
<ng-template #elseBlock>
 
  <div class="body">
    <div class="container">

        <form [formGroup]="profileFormGroup">
            <h4 style="font-weight: 900; font-size: 20px;">PERSONAL DETAILS</h4>
            
                    <div class="fields">
                        <div class="input-field">
                            <label> Name</label>
                            <input type="text" placeholder="Enter Your Name" formControlName="customerName" >
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" placeholder="Enter Your Email"
                                formControlName="customerEmail">
                        </div>

                        <div class="input-field">
                            <label>Aadhar Number</label>
                            <input type="number" placeholder="Enter Your Aadhar Nnumber"
                                formControlName="customerAadharno">
                        </div>


                        <div class="input-field">
                            <label>Pan Number</label>
                            <input type="number" placeholder="Enter Your Pan Nnumber"
                                formControlName="customerPanno">
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter Your Mobile NO"
                                formControlName="customerMobileno">
                        </div>

                    </div>
        </form>

    </div>
</div>

<div class="body">
  <div class="container">
      <form [formGroup]="bankFormGroup" class="bank">
          <h4 style="font-weight: 900; font-size: 20px;">Bank Details</h4>
          <div class="form first">
              <div class="details personal">

                  <div class="fields">
                      <div class="input-field">
                          <label>Account No</label>
                          <input type="number" placeholder="Enter Your Account no"
                              formControlName="bankAccountNumber">
                      </div>

                      <div class="input-field">
                          <label>Bank Name</label>
                          <input type="text" placeholder="Enter Bank Name" formControlName="bankName">
                      </div>

                      <div class="input-field">
                          <label>Brach Name</label>
                          <input type="text" placeholder="Enter Branch" formControlName="branchName">
                      </div>

                      <div class="input-field">
                          <label>IFSC Number</label>
                          <input type="number" placeholder="Enter IFSC no" formControlName="ifscNumber">
                      </div>

                      <div class="input-field">
                          <label>CIF Number</label>
                          <input type="text" placeholder="Enter CIF No" formControlName="cardNumber">
                      </div>
                  </div>
              </div>
          </div>
      </form>
      

  </div>
</div>

<div class="body">
  <div class="container">

      <form [formGroup]="SanctionForm">
          <h4 style="font-weight: 900; font-size: 20px;">Loan Sanction From</h4>

                  <div class="fields">

                      <div class="input-field">
                          <label>Tenure</label>
                          <input type="number" placeholder="Enter Your Tenure"
                              formControlName="tenure">
                      </div>

                      <div class="input-field">
                          <label>Rate Of Interest</label>
                          <input type="number" placeholder="Enter rate Of Interest"
                              formControlName="rateOfInterest">
                      </div>

                      <div class="input-field">
                          <label>Required Loan Amount</label>
                          <input type="number" placeholder="Enter customer Loan Required:"
                              formControlName="customerTotalLoanRequired">
                      </div>

                      <div class="input-field">
                        <label>Sanction Amount</label>
                        <input type="number" placeholder="Enter Sanction Amount"
                            formControlName="sanctionAmount">
                          
                    </div>
                    
                    <div class="input-field">
                      <label>Agreement Date</label>
                      <input type="date" placeholder="Enter Date"
                          formControlName="agreementDate">
                          
                  </div>
                    <div class="input-field">
                      <label>Monthly EMI</label>
                      <input type="text" placeholder="Enter validity"
                          formControlName="monthlyEMI" value="{{calculateEMI()|currency:'INR'}}">
                  </div>

                  </div>
                  <button mat-fab extended color="warn" (click)="saveSanction()"  style="width: 150px; margin-top: 20px; margin-right: 20px;">
                    <!-- <mat-icon>favorite</mat-icon> -->
                    Submit
                  </button>
            
      </form>
   
  </div>
</div>
  <!-- Content to display when the condition is false -->
</ng-template>

</div>
<ng-template #elseBlock>
 
  <div class="container" style="overflow-x:auto;">
    <h1 style=" margin-bottom: 30px; font-size: 30px; font-weight: 800; text-align: center;"> Loan Application List</h1>
  
    <mat-card class="custom-card">
      
      <table class="table"  align="center" >
          <thead  >
            <tr >
              <th scope="col">Profile Photo</th>
              <th scope="col">Customer Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile No</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let a of CustomerList">
              <td><img style="border: 2px solid #00838F;" [src]="'data:image/png;base64,'+a.customerDocuments.customerProfilePhoto" height="75px" width="75px"></td>
              <td scope="row">{{a.customerId}}</td>
              <td>{{a.customerName}}</td>
              <td>{{a.customerEmail}}</td>
              <td>{{a.customerMobileno}}</td>
              <td>
                <button mat-fab extended color="warn" (click)="generateSanctionLetter(a)">       
                  Generate
                </button>
                </td>
              </tr>
          </tbody>
        </table>
  </mat-card>
  </div>
</ng-template>









  <!-- <button mat-fab extended color="warn" (click)="generatePdf()" >       
    Generate PDF
  </button> -->