.custom-card {
    background-color: #ECEFF1;
    /* color: white; */
    width: 100%;
    padding-top: 3%;
    
  }
  .table{
    width: 90%;
    /* border: 1px solid #00838F; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    overflow-x: auto; 
  }
  th {
    background-color: #00838F; /* Background color for the table header */
    color: white; /* Text color for the table header */
    font-size: 16px; /* Font size for the table header */
    /* Add more styles as needed */
    height: 40px;
    margin-bottom: 8%;
    text-align: center;
  }
  
  td{
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    color: #212121;
    
  }
 
 