<div class="container" style="overflow-x:auto;">
  <h1 style=" margin-bottom: 30px; font-size: 30px; font-weight: 800; text-align: center;">Accepted Loan Details</h1>

  <mat-card class="custom-card">
    
    <table class="table" align="center" >
        <thead >

    <tr>
      <th scope="col">Enquiry_Id</th>
    <th scope="col">Customer_Name</th>
    <th scope="col">Customer_Email</th>
    <th scope="col">Customer_Mobileno</th>
    <th scope="col">Customer_Aadharno</th>
    <th scope="col">Customer_Panno</th>
    <th scope="col">applicationStatus</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let x of e">
      <td>{{x.id}}</td>
      <td>{{x.customerName}}</td>
      <td>{{x.customerEmail}}</td>
      <td>{{x.customerMobileno}}</td>
      <td>{{x.customerAadharno}}</td>
      <td>{{x.customerPanno}}</td>
      <td>{{x.applicationStatus}}</td>
  </tr>
</tbody>
</table>
  </mat-card>
</div>