

<mat-toolbar class="mat-toolbar  toolbar-with-shadow " color="primary"   > 
      
    <!-- <span class="logo">
           <img src="assets\Images\cjclogo.png" alt="CJC Logo">
         </span>  -->
   
   
       <span ><h2>Loan Application</h2></span>
      
      
   
   
         <div  fxLayout="row" fxLayoutAlign="space-between center">
           <button mat-icon-button  routerLink="" style="margin-bottom: 8px; ">
               <mat-icon style="font-size: 25px;">home</mat-icon>
             </button>
         <button mat-button routerLink="aboutus">AboutUs</button>
         <button mat-button routerLink="EmiCalculator">EMI Calculator</button>
         <button mat-button routerLink="Loan">Loan</button>
         <button mat-button routerLink="faq">FAQ</button>
         <button mat-button routerLink="register">Registration</button>
         <button mat-raised-button color="warn" routerLink="Login">Login</button>
     
        
         </div>
       
     </mat-toolbar>
   