/* Apply basic styles */
body {
    font-family: Arial;
    height: 440vh;
  }
header {
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 8rem ;
    height: 100px;
}
header h1 {
    font-size: 5rem;
}
main {
    width: 800px;
}
section {
    margin-bottom: 2rem;
}
.about-container,.experience-container,.container
{
    display: flex; /* Display boxes in a row */
    width: 180%;
  }
.about-box
{ 
    background-color: white; /* Set the background color */
    width: 50%;
    height: 400px;
    text-align: left; /* Center-align text horizontally */
    padding-top: 5%; 
  }
.about-box p{
    text-align: left;
    padding-left: 30%;
    padding-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
  }
.experience-box
{
  
    background-color: white; /* Set the background color */
    width: 50%;
    height: 400px;
    text-align: right; /* Center-align text horizontally */
    padding-top: 5%;
  }
.experience-box p{
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
  }
  /* Style for each colored box */
.colored-box {
  background-color: lightskyblue; /* Set the background color */
  width: 50%;
  height: 160px;
  padding-left: 10px;
  margin-left: 60px; /* Add some spacing between boxes */
  margin-right: 60px;
  text-align: center; /* Center-align text horizontally */
  padding: 6px; /* Add some padding inside the box */
  border-radius: 22px;
}
/* Style for the text inside each box */
.box-text {
  padding: 30px;
  color:gray; /* Set text color to white */
  font-size: 22px; /* Set font size */
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex; /* Center-align text vertically */
  justify-content: center; /* Center-align text horizontally */
}
.colored-box h1{
  color: white;
  text-align: center;
  font-size: 210%;
}
.believe p{
    text-align: left;
    padding-left: 16%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;  
  }
.believe img{
    padding-left: 12%;
  }
  .believe h1{
    color: black;
    padding-left: 16%;
  }
  .believe b{
      text-decoration: solid;
  }
  .vision-container
  {
      display: flex; /* Display boxes in a row */
      width: 186%;
    }
  /* Style for each colored box */
  .vision-box {
    background-color: darkblue; /* Set the background color */
    width: 50%;
    height: 200px;
    padding-top: 30px;
    text-align: left; /* Center-align text horizontally */
  }
  .vision-text,.mission-text {
      color:white; /* Set text color to white */
      font-size: 45px; /* Set font size */  
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      padding-top: 10px;
      padding-left: 30%;
      }
  .vision-box p{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 8%;
    
  }    
  .team-container{
    display: flex;
    width: 188%;
  }
.team-box{
      background-color:skyblue; /* Set the background color */
      width: 50%;
      height: 350px;
      text-align: left; /* Center-align text horizontally */
      padding-left: 60px;


    }
    .teammember h1,.gallery h1
    {
      padding-left: 650px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 900;
    }
.team-box img{
  padding-top: 20px;
  padding-left: 10px;
  position: relative; width: 280px; height: 280px; overflow: hidden; border-radius: 50%; 
}
.team-box figcaption{
  padding-left: 70px;
  font-size: medium;
}
 
   .slider {
    width: 500px;
    height: 350px;
    background-color: black;
    margin-left: 60%;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: white;
    height: 350px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: lightgreen;
  }