<div class="container-fluid">
    <h1 style="font-size: 30px; font-weight: 800; text-align: center;">Document Verifaction Process</h1>

    <mat-card class="custom-card">

        
        <mat-card-content>

            <div *ngIf="condition; else elseBlock">
                <!-- Content to display when the condition is true -->
                <div class="container">
                    <div *ngIf="imagecondition; else imageBlock">
                    <h4 style="font-weight: 900; font-size: 20px;">Documents</h4>
                    <div class="form first">
                    <div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Document Name</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Preview</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Profile Photo</td>
                                <td>{{customerProfilePhoto.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerProfilePhoto)"><img [src]="'data:image/png;base64,'+customerProfilePhoto" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Profilecheck">Verify</mat-checkbox>
                                     </section>
                                    </td>
                            </tr>
        
                              <tr>
                                <th scope="row">2</th>
                                       <td>Signature</td>
                                <td>{{customerSignature.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerSignature)"><img [src]="'data:image/png;base64,'+customerSignature" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Signcheck">Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Aadhar</td>
                                <td>{{customerAadhar.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerAadhar)"><img [src]="'data:image/png;base64,'+customerAadhar" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Adharcheck">Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
        
                              <tr>
                                <th scope="row">4</th>
                                <td>Pan Card</td>
                                <td>{{customerPan.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerPan)"><img [src]="'data:image/png;base64,'+customerPan" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Pancheck">Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                              <tr>
                                <th scope="row">5</th>
                                <td>Driving License</td>
                                <td>{{customerDrivingLicense.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerDrivingLicense)"><img [src]="'data:image/png;base64,'+customerDrivingLicense" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Drivingcheck">Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                              <tr>
                                <th scope="row">6</th>
                                <td >Bank Statement</td>
                                <td>{{customerBankStatement.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerBankStatement)"><img [src]="'data:image/png;base64,'+customerBankStatement" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Bankcheck" >Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                              <tr>
                                <th scope="row">7</th>
                                <td>Salary slip</td>
                                <td>{{customerSalaryslip.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerSalaryslip)"><img [src]="'data:image/png;base64,'+customerSalaryslip" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="salarycheck" >Verify</mat-checkbox>
                                     </section>  
                                    </td>
                                  
                              </tr>
                              <tr>
                                <th scope="row">8</th>
                                <td>Form-16</td>
                                <td>{{customerForm16.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerForm16)"><img [src]="'data:image/png;base64,'+customerForm16" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Form16check" >Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                              <tr>
                                <th scope="row">9</th>
                                <td>ITR:</td>
                                <td>{{customerITR.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerITR)"><img [src]="'data:image/png;base64,'+customerITR" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="Itrchecked">Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                              <tr>
                                <th scope="row">10</th>
                                <td>Car Quotation</td>
                                <td>{{customerCarQuotation.name}}</td>
                                <td><button class="image" (click)="gotoimage(customerCarQuotation)"><img [src]="'data:image/png;base64,'+customerCarQuotation" height="75px" width="75px"></button></td>
                                <td>  <section class="example-section">
                                    <mat-checkbox class="example-margin" >Verify</mat-checkbox>
                                     </section>
                                    </td>
                              </tr>
                            </tbody>
                          </table>
    <div align="center" style="padding: 4%;">
        <button mat-fab extended color="primary" (click)="goback()" style="width: 150px; margin-top: 20px; margin-right: 20px;">
            <!-- <mat-icon>favorite</mat-icon> -->
            Back
          </button>

          <button mat-fab extended  style="background-color: #2ea300; width: 150px; margin-top: 20px; margin-right: 20px;">
            <!-- <mat-icon>favorite</mat-icon> -->
            Aprove
          </button>
        <button mat-fab extended color="warn" style="width: 150px;">
            <!-- <mat-icon>favorite</mat-icon> -->
            Reject
          </button>
    </div>
                        
                        
                    </div>
                    </div>

                   </div>
                   <ng-template #imageBlock>
                    <div>
                        <img [src]="'data:image/png;base64,'+imagefile" height="auto" width="100%" style="border: 2px solid #333; ">
                    </div>
                    <button mat-fab extended color="primary" (click)="gobacktoTable()" style="width: 150px; margin-top: 20px; margin-right: 20px;">
                        <!-- <mat-icon>favorite</mat-icon> -->
                        Ok
                      </button>
                   </ng-template>
                </div>
              

              </div>
              
              <ng-template #elseBlock>
                <!-- Content to display when the condition is false -->
                <div class="body">
                    <div class="container">
    
                        <form [formGroup]="profileFormGroup">
                            <h4 style="font-weight: 900; font-size: 20px;">PERSONAL DETAILS</h4>
                            
    
                                    <div class="fields">
                                        <div class="input-field">
                                            <label> Name</label>
                                            <input type="text" placeholder="Enter Your Name" formControlName="customerName">
                                        </div>
    
    
    
                                        <div class="input-field">
                                            <label>Email</label>
                                            <input type="email" placeholder="Enter Your Email"
                                                formControlName="customerEmail">
                                        </div>
    
                                        <div class="input-field">
                                            <label>Aadhar Number</label>
                                            <input type="number" placeholder="Enter Your Aadhar Nnumber"
                                                formControlName="customerAadharno">
                                        </div>
    
    
                                        <div class="input-field">
                                            <label>Pan Number</label>
                                            <input type="number" placeholder="Enter Your Pan Nnumber"
                                                formControlName="customerPanno">
                                        </div>
    
                                        <div class="input-field">
                                            <label>Mobile Number</label>
                                            <input type="number" placeholder="Enter Your Mobile NO"
                                                formControlName="customerMobileno">
                                        </div>

                                    </div>
                        </form>
    
                    </div>
                </div>
                <div class="body">
                    <div class="container">
                        <form [formGroup]="permanentaddform">
                            <div class="details ID">
                                <h4 style="font-weight: 900; font-size: 20px;">Permanent Address</h4>
                                <div class="fields">
    
                                    <div class="input-field">
                                        <label>Area Name</label>
                                        <input type="text" placeholder="Enter Area Name" formControlName="areaName">
                                    </div>
    
                                    <div class="input-field">
                                        <label>City Name</label>
                                        <input type="text" placeholder="Enter City" formControlName="cityName">
                                    </div>
    
                                    <div class="input-field">
                                        <label>District</label>
                                        <input type="text" placeholder="Enter District" formControlName="districtName">
                                    </div>
    
    
                                    <div class="input-field">
                                        <label>Land Mark</label>
                                        <input type="text" placeholder="Enter Land" formControlName="landMark">
                                    </div>
    
                                    <div class="input-field">
                                        <label>State</label>
                                        <input type="text" placeholder="Enter State" formControlName="stateName">
                                    </div>
                                    
                                    <div class="input-field">
                                        <label>Pin code</label>
                                        <input type="text" placeholder="Enter Pin Code" formControlName="pinCodeNumber">
                                    </div>
    
                                </div>
    
                            </div>
                        </form>
    
                    </div>
                </div>
                <div class="body">
                    <div class="container">
    
                        <form [formGroup]="localaddform">
    
                            <h4 style="font-weight: 900; font-size: 20px;">Local Address</h4>
                            <div class="fields">
    
                                <div class="input-field">
                                    <label>Area Name</label>
                                    <input type="text" placeholder="Enter Area Name" formControlName="areaName">
                                </div>
    
                                <div class="input-field">
                                    <label>City Name</label>
                                    <input type="text" placeholder="Enter City" formControlName="cityName">
                                </div>
    
                                <div class="input-field">
                                    <label>District</label>
                                    <input type="text" placeholder="Enter District" formControlName="districtName">
                                </div>
    
    
    
                                <div class="input-field">
                                    <label>Land Mark</label>
                                    <input type="text" placeholder="Enter Land Mark" formControlName="landMark">
                                </div>
    
    
                                <div class="input-field">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State" formControlName="stateName">
                                </div>
    
    
    
    
    
    
    
                                <div class="input-field">
                                    <label>Pin code</label>
                                    <input type="text" placeholder="Enter Pin Code" formControlName="pinCodeNumber">
                                </div>
                            </div>
    
    
    
    
    
                        </form>
                    </div>
                </div>
                <div class="body">
                    <div class="container">
                        <form [formGroup]="bankFormGroup" class="bank">
                            <h4 style="font-weight: 900; font-size: 20px;">Bank Details</h4>
                            <div class="form first">
                                <div class="details personal">
    
                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Account No</label>
                                            <input type="number" placeholder="Enter Your Account no"
                                                formControlName="bankAccountNumber">
                                        </div>
    
                                        <div class="input-field">
                                            <label>Bank Name</label>
                                            <input type="text" placeholder="Enter Bank Name" formControlName="bankName">
                                        </div>
    
                                        <div class="input-field">
                                            <label>Brach Name</label>
                                            <input type="text" placeholder="Enter Branch" formControlName="branchName">
                                        </div>
    
                                        <div class="input-field">
                                            <label>IFSC Number</label>
                                            <input type="number" placeholder="Enter IFSC no" formControlName="ifscNumber">
                                        </div>
    
    
    
                                        <div class="input-field">
                                            <label>CIF Number</label>
                                            <input type="text" placeholder="Enter CIF No" formControlName="cardNumber">
                                        </div>
                                    </div>
    
    
                                </div>
    
    
                                
    
    
                            </div>
                        </form>
                        
                        <button mat-fab extended color="primary" (click)="changecondition()" style="width: 150px; margin-top: 20px; margin-right: 20px;">
                            <!-- <mat-icon>favorite</mat-icon> -->
                            Next
                          </button>
                        
               
                    </div>
                </div>
              </ng-template>

        

          

           

        </mat-card-content>
    </mat-card>
</div>