
<div >
    <footer class="footer bg-light m-2 p-2 b-0 mt-100px">
      <div class="container" class="text-center p-2">
         
      </div>
      <div class="row">

        <div class="col ml-5"> 
         
          <h4>Contact Us</h4>
        <p>Email: info@.com</p>
        <p>Phone: +123-456-7890</p>
        </div>
        <div class="col"> 
        
          <h4>Quick Links</h4>
        <ul>
          <li><a href="/">Home</a></li>
        
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
        <div class="col"> 
        
          <h4>Follow Us</h4>
          <div class="social-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
            
          </div>
        </div>

      </div>
      
      </footer>
    
    </div>
