
<mat-horizontal-stepper [linear]="isLinear" #stepper>


    <mat-step [stepControl]="profileFormGroup">
      
        <ng-template matStepLabel>Fill out your Profile</ng-template>
        
            <div class="body">
            <div class="container">

                <form [formGroup]="profileFormGroup" class="fb d">
                    <h4>PERSONAL DETAILS</h4>
                    <div class="form first">
                        <div class="details personal">
                       
                            <div class="fields">
                                <div class="input-field">
                                    <label> Name</label>
                                    <input type="text" placeholder="Enter Your Name" formControlName="customerName">
                                </div>
            
                               
            
                                <div class="input-field">
                                    <label>Email</label>
                                    <input type="email" placeholder="Enter Your Email" formControlName="customerEmail">
                                </div>

                                <div class="input-field">
                                    <label>Aadhar Number</label>
                                    <input type="number" placeholder="Enter Your Aadhar Nnumber" formControlName="customerAadharno">
                                </div>

                                
                                <div class="input-field">
                                    <label>Pan Number</label>
                                    <input type="number" placeholder="Enter Your Pan Nnumber" formControlName="customerPanno">
                                </div>

                                <div class="input-field">
                                    <label>Mobile Number</label>
                                    <input type="number" placeholder="Enter Your Mobile NO" formControlName="customerMobileno">
                                </div>
            

                               

                           
                                
            
                                
                            </div>
            
                            
                        </div>
            
                        
                        <div>
                            <button mat-raised-button matStepperNext color="warn" (click)="savepersonaldetails()">Next</button>
                          </div>
                    </div>
                    
                    </form>
            </div>
        </div>

    </mat-step>

    <mat-step [stepControl]="permanentaddform" label="Fill out your Address">
      
        <div class="body">
            <div class="container">
                <div class="fb">
                <form [formGroup]="permanentaddform">
                    <div class="details ID">
                        <h4>Permanent Address</h4>
                        <div class="fields">

                            <div class="input-field">
                                <label>Area Name</label>
                                <input type="text" placeholder="Enter Area Name" formControlName="areaName">
                            </div>

                            <div class="input-field">
                                <label>City Name</label>
                                <input type="text" placeholder="Enter City" formControlName="cityName">
                            </div>

                            <div class="input-field">
                                <label>District</label>
                                <input type="text" placeholder="Enter District" formControlName="districtName">
                            </div>
        
                            
                            <div class="input-field">
                                <label>Land Mark</label>
                                <input type="text" placeholder="Enter Land" formControlName="landMark">
                            </div>
        
                            <div class="input-field">
                                <label>State</label>
                                <input type="text" placeholder="Enter State" formControlName="stateName">
                            </div>
        
                            
                           
        
                   
        
                            <div class="input-field">
                                <label>Pin code</label>
                                <input type="text" placeholder="Enter Pin Code" formControlName="pinCodeNumber">
                            </div>
                            <label>same as</label><input type="checkbox"  (change)="copyLocalToPermanent()">
                    </div>
                    
                    </div> 
                </form>
        
                        <form [formGroup]="localaddform">   
                             
                    <h4>Local Address</h4>
                    <div class="fields">
                           
                            <div class="input-field">
                                <label>Area Name</label>
                                <input type="text" placeholder="Enter Area Name" formControlName="areaName">
                            </div>

                            <div class="input-field">
                                <label>City Name</label>
                                <input type="text" placeholder="Enter City" formControlName="cityName">
                            </div>

                            <div class="input-field">
                                <label>District</label>
                                <input type="text" placeholder="Enter District" formControlName="districtName">
                            </div>
        

                            
                                <div class="input-field">
                                    <label>Land Mark</label>
                                    <input type="text" placeholder="Enter Land Mark" formControlName="landMark">
                                </div>

                          
                                <div class="input-field">
                                    <label>State</label>
                                    <input type="text" placeholder="Enter State" formControlName="stateName">
                                </div>
            
                                
                               
            
                               
            
            
                                <div class="input-field">
                                    <label>Pin code</label>
                                    <input type="text" placeholder="Enter Pin Code" formControlName="pinCodeNumber">
                                </div>
                            </div>
            
                      
            
                       
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-raised-button matStepperNext color="warn">Next</button>
                          </div>
                    </div>
               
                    </form>
                </div>
            </div>
        </div>

    </mat-step>

    <mat-step [stepControl]="bankFormGroup" label="Fill out your Bank Details">
      
        <div class="body">
            <div class="container">
                <form [formGroup]="bankFormGroup" class="bank fb">
                    <h4>Bank Details</h4>
                    <div class="form first">
                        <div class="details personal">
                          
                            <div class="fields">
                                <div class="input-field">
                                    <label>Account No</label>
                                    <input type="number" placeholder="Enter Your Account no" formControlName="bankAccountNumber">
                                </div>
            
                                <div class="input-field">
                                    <label>Bank Name</label>
                                    <input type="text" placeholder="Enter Bank Name" formControlName="bankName">
                                </div>
            
                                <div class="input-field">
                                    <label>Brach Name</label>
                                    <input type="text" placeholder="Enter Branch" formControlName="branchName">
                                </div>
            
                                <div class="input-field">
                                    <label>IFSC Number</label>
                                    <input type="number" placeholder="Enter IFSC no" formControlName="ifscNumber">
                                </div>
            
                               
            
                                <div class="input-field">
                                    <label>CIF Number</label>
                                    <input type="text" placeholder="Enter CIF No" formControlName="cardNumber">
                                </div>
                            </div>
            
                            
                        </div>
            
                        
            
                      
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-raised-button matStepperNext color="warn" >Next</button>
                          </div>
                    </div>
                </div>
                    </form>
            </div>
        </div>

    </mat-step>

    <mat-step label="Fill out your Document">
      
        <div class="body">
            <div class="container">
                <form  class="Doccument fb">
                    <h4>Document Details</h4>
                    <div class="form first">
                        <div class="details personal">
                         
                            <div class="fields"> 
                               
            
                                <div class="input-field">
                                    <label>Adhar Card</label>
                                    <input type="file"  (change)="aadhardoc($event)">
                                </div>
            
                                <div class="input-field">
                                    <label>Pan Card</label>
                                    <input type="file"  (change)="pandoc($event)">
                                </div>

                                <div class="input-field">
                                    <label>Profile Photo</label>
                                    <input type="file"  (change)="profiledoc($event)">
                                </div>
            
                                <div class="input-field">
                                    <label>Signature</label>
                                    <input type="file"  (change)="signaturedoc($event)">
                                </div>
            
                                <div class="input-field">
                                    <label>Salary Slip</label>
                                    <input type="file"  (change)="salaryslipdoc($event)">
                                </div>
            
                           
                                <div class="input-field">
                                    <label>Driving License</label>
                                    <input type="file"  (change)="drivinglicensedoc($event)">
                                </div>

                                <div class="input-field">
                                    <label>Bank Statements</label>
                                    <input type="file"  (change)="bankstatementdoc($event)">
                                </div>

                                <div class="input-field">
                                    <label>Car Quotation</label>

                                    <input type="file"  (change)="carquotationdoc($event)">
                                </div>

                                <div class="input-field">
                                    <label>Form 16</label>
                                    <input type="file"  (change)="form16doc($event)">
                                </div>

                                <div class="input-field">
                                    <label>ITR</label>
                                    <input type="file"  (change)="itrdoc($event)">
                                </div>

                            </div>
            
                            
                        </div>
            
                        
            
                      
                        <div class="buttons">
                        <div class="backBtn">
                            <button mat-raised-button matStepperPrevious color="warn">Previous</button>
                         </div> 
                         <div class="nextBtn">  
                            <button mat-raised-button matStepperNext color="warn">Next</button>
                          </div>
                    </div>
                </div>
                    </form>
            </div>
        </div>









        
    </mat-step>

    <mat-step>

       <div class="done">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-raised-button matStepperPrevious color="warn" style="margin-right: 10px;">Previous</button>

        <button mat-raised-button matStepperNext color="warn" style="margin-right: 10px;" (click)="success()" >Submit</button>
        <button mat-raised-button matStepperNext color="warn" (click)="stepper.reset()">Reset</button>
      </div>
    </div>
    </mat-step>
</mat-horizontal-stepper>
  





   
